.question {
  &__number {
    font-size: 14px;
    color: #f617c5fa;
    margin-right: 5px;
    font-weight: bold;
  }
  &__title {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 14px;
    display: flex;
    margin: 0;
  }

  &__choice-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    &--horizontal {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
