.modal {
  &-wrapper {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-body {
    width: 180px;
    height: 160px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
      font-size: 18px;
    }

    &__user-score {
      width: 100px;
      height: 27px;
      background-color: #f6b3e76e;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 7px;
    }
  }
}
