.primary {
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  height: 29px;
  color: white;
  background-color: blue;
  width: 120px;
  margin: 1.2rem 1rem 0 1rem;
  border-radius: 25px;
  border: 1px solid blue;
  font-size: 12px;

  &:hover {
    opacity: 0.8;
  }
}

.close {
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  height: 29px;
  color: white;
  background-color: #b01030;
  width: 120px;
  margin: 1.2rem 1rem 0 1rem;
  border-radius: 25px;
  border: 1px solid #b01030;
  font-size: 12px;

  &:hover {
    opacity: 0.8;
  }
}
